html, body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.col-xs-3, .col-xs-9{
/*    padding: 0;*/
/*    margin: 0;*/
}

/*
.col-md-9 {
    padding: 0;
}
*/

.container {
    max-width: 1140px;
/*    padding: 0;*/
/*    margin: 0*/
    margin: 0 auto;
}

/* repair */

.repair {
/*    padding: 65px 0;*/
}
.repair h3 {
    margin-bottom: 50px;
}

.repair hr {
    padding: 20px;
}

.repair p {
    
    font-weight: 600;
    font-size: 16px;
}

.repair_apple {
    display: flex;
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
}

.repair_iphone{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    height: 200px;
    width: 200px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}

.repair a {
    text-decoration: none;
}

.repair img {
}

.repair_iphone p{
    font-size: 24px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
}


/* service */

.service {
    background-color: #f7f7f7;
}

.service h3 {
    display: flex;
    text-transform: uppercase;
/*    margin: 55px 0;*/
    margin-bottom: 55px;
}

.service_image {
    max-width: 100%;
/*    width: 100%;*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    text-align: center;
}

.service_image img {
    width: 100%;
}

.service_text {
/*    padding: 20px;*/
    margin: 20px 0;
}

.service p {
/*    padding: 40px;*/
    font-size: 18px;
}

/* our adwantages */

.our_adwantages {
    padding: 35px 0;
}

.adwantages {
    margin-bottom: 40px;
}

.our_adwantages h3 {
    margin-bottom: 55px;
}

.adwantages h4 {
/*    font-weight: bold;*/
    font-size: 24px; 
}

.adwantages img {
/*    display: none;*/
/*    width: 100%;*/
/*    width: 114px;*/
/*    max-width: 100%;*/
}

.adwantages p {
    font-size: 16px;
}

/*  request */
.request {
    background-image: url("../images/back-gray.png");
/*    position: top left;*/
/*    background-repeat: no-repeat;*/
    background-size: cover;
    padding: 0;
    margin: 0;
} 

.fast_repair {
    color: #fff;
    background-image: url("../images/apple_pink.png");
    position: top left;
    background-position: top 20px left 0;
    background-repeat: no-repeat;  
}


.txt {
    padding: 20px 0;
}

.txt div {
    text-transform: uppercase;
    font-size: 24px;
    padding: 15px 0 0;  
/*    margin: 0;*/
}

.fast_repair button {
    background-color: #f9dd7b;
    border-radius: 40px;
    border: none;
    padding: 10px 0px;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    color: #000;
    margin: 60px 0;
}

.fast_repair h2 {
    text-transform: uppercase;
    font-size: 48px;
}


/* service adress and map */

.col-md-9 {
    padding: 0;
}

.contacts{
    padding: 50px 0;
}

.contacts h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 65px;
}

#map {
/*    width: 100%;*/
    height: 500px;
}

.map {
/*    display: none;*/
    width: 75%;
}

.adress {
    width: 25%;
    float: right;

}

.location {
    padding: 30px 0;
    padding: 40px 0;
    margin: 0;
    font-size: 20px;
    width: 100%;
/*    margin-bottom: 40px;*/
}

.location hr{
    display: none;
/*    display: block;*/
}

.location p {
/*    margin: 10px;*/
    font-size: 16px;
}

.location p:first-child {
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.location img {
    padding: 0 20px;
}

.location hr {
/*        color: red;*/
    }



/* slider */

.slider {
    padding: 35px 0;
}

.slider h3 {
/*    margin-bottom: 65px*/
}

.container h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.mySlides {
    width: 75%;
    margin:  0 auto;
}

.mySlides .user_image {
    padding: 20px 0;
    border-right: 2px solid #adadad;
}

.user_reviews {
    padding: 15px 0;
}

.user_reviews .name {
    font-size: 28px;
}

.rating {
    display: flex;
    justify-content: flex-end;
}

.user_reviews .reviews_from {
    color: #adadad;
    padding: 15px 0;
}

.user_reviews .reviews_from img {
    max-width: 100%;
    width: 20px;
    height: 20px;
}

.user_reviews .reviews_from a {
    color: #adadad;
}

.user_image a{
    border-radius: 50%;
}

.user_reviews .reviews_text textarea{
    border: none;
/*    overflow: scroll;*/
/*    overflow-x:hidden;*/
    overflow: hidden;
    padding: 0;
/*    margin: 0;*/
    width: 100%;
    font-size: 20px;
}

.user_reviews .reviews_text a {
    color: #adadad;
/*    text-decoration: dashed;*/
    text-decoration: none;
    border-bottom: 1px dashed;
    font-size: 20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1140px;
  position: relative;
  margin: auto;
/*    border: 1px solid red;*/
}

/* Hide the images by default */
.mySlides {
/*    display: none;*/
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #6f6f6f;
  font-weight: bold;
  font-size: 18px;
/*  transition: 0.6s ease;*/
/*  border-radius: 0 3px 3px 0;*/
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/*
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade/;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

*/



/* footer */

footer {
    background-color: #292929;
    color: #fff;
    padding: 70px 0;
}

.bottom_logo {
    font-size: 14px;
}

#name {
    font-size: 24px;
}

.logo_text {
/*    display: none;*/
    text-transform: uppercase;
}

.bottom_logo span {
    font-size: 34px;
}

.bottom_logo img {
/*    max-width: 100%;*/
/*    max-height: 100%;*/
    margin-right: 30px;
}

.bottom_nav {
    text-decoration: none;
}

.bottom_nav a {
    text-decoration: none;
    color: #fff;
    display: flex;
    font-size: 20px;

}

.social a {
/*    padding: 40px 0;*/
}

.social p {
    text-transform: uppercase;
}

.site_map a{
    text-decoration: none;
    color: #fff;
}

@media (max-width: 1200px) {
    .col-xs-6 h2{
        font-size: 34px;
    }
    
    .service_text p{
        padding: 0 20px;
/*        font-size: 16px;*/
        margin: 0;
    }
}

@media (max-width: 992px) {
    
    .service_text h3 {
        display: flex;
        justify-content: center;
    }
    
    .fast_repair {
        background-image: none;
        padding: 40px 0;
    }
    
    .txt div {
        padding: 5px 0;
        margin: 0;
    }
    
    .image {
        display: none;
    }
    
    .fast_repair_text {
        display: flex;
        justify-content: center;
        width: 60%;
    }
    
    .fast_repair_text h2{
        padding: 0;
        margin: 0;
    }
    
    .image {
        display: flex;
        justify-content: center;
        width: 40%;
    }
    
    .fast_repair_button {
        padding: 0;
    }
    
    .fast_repair_button button {
/*        padding: 10px 40px;*/
        margin: 40px;
    }
    
/*   reviews */
    .mySlides col-md-4 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    
    .mySlides .user_image {
        display: flex;
        justify-content: center;
/*        width: 100%;*/
        border-right: 2px solid red;
        border-right: none;
    }
    
    .text {
        text-align: center;
    }
    
    .map {
/*        display: none;*/
        width: 100%;
        float: right;
    } 
    
    .location {
        float: left;
        padding: 0;
        width: 50%;
        margin-bottom: 35px;
    }
    
    .adress {
/*        display: block;*/
        width: 100%;
        float: left;
    }
    
    .adress hr {
        display: none;
    }
    
/*    footer*/
    .bottom_logo {
        display: flex;
        width: 50%;
        justify-content: center;
    }
    
    .bottom_nav {
        width: 25%;
        padding-bottom: 40px;
    }
    
    .social {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
}

@media (max-width: 768px) {
    .location {
        float: left;
        width: 50%;
    }
    
  
    .bottom_logo {
        width: 100%;
        width: 50%;
/*        display: flex;*/
/*        justify-content: center;*/
        text-align: center;
    }
    
    
}

@media (max-width: 640px) {
    
    .fast_repair_text{
/*        display: none;*/
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
     .fast_repair_button {
        display: flex;
        justify-content: center;
        width: 100%;
/*        padding: 0;*/
/*        margin: 0;*/
    }

    
    .location {
        display: flex;
        justify-content: center;
        display: block;
        width: 100%;  
    }

    .map {
        padding: 0;
    }

    .bottom_logo {
        width: 100%;
        display: flex;
        justify-content: space-around;
        justify-content: space-between;
        text-align: center;
        justify-content: center;
    }

    .bottom_logo .col-xs-10 {
        width: 100%;
    }    
    
     .bottom_logo .col-xs-2 {
        width: 100%;
    }    
    
    .bottom_nav {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 30px 0;
    }
}

@media (max-width: 375px) {
    .txt {
        padding: 0px;
    }
    
    .txt div{
        font-size: 20px;
    }
    
    .txt h2{
        font-size: 28px;
    }
    
    .row {
        padding: 0;
        margin: 0;
    }
    
    .our_adwantages h3 {
        font-size: 18px;
    }
    
    .adwantages div{
        width: 100%;
/*        display: flex;*/
/*        justify-content: center;*/
        text-align: center;
    }
    
    .service_text p{
        padding: 0;
    }
  
}

@media (max-width: 320px) {
    .txt {
        padding: 0px;
    }
    
    .txt div{
        font-size: 20px;
    }
    
    .txt h2{
        font-size: 28px;
    }
}



